<form [formGroup]="gameService.game" class="form-group">
  <div class="table-responsive">
    <table class="table scores-table">
      <thead class="thead-dark">
        <tr>
          <div class="centered">
            <th>Round</th>
            <th [attr.colspan]="gameService.players.length" class="text-left">
              Player
            </th>
          </div>
        </tr>
        <tr>
          <div class="centered">
            <th></th>
            <th *ngFor="let player of gameService.players.controls">
              {{ player.value }}
            </th>
          </div>
        </tr>
      </thead>
      <tbody formArrayName="rounds">
        <tr *ngFor="let round of gameService.rounds.controls; let i = index">
          <th class="align-middle bg-white" style="z-index: 15">{{ i + 1 }}</th>
          <ng-container [formArrayName]="i">
            <td *ngFor="let r of round.controls; let j = index">
              <table
                *ngIf="gameService.calculatePhase(i)[j] < 11"
                [formGroupName]="j"
                class="scores"
              >
                <tr>
                  <td>
                    <button
                      class="phase-card active-card col"
                      (click)="gameService.handlePhaseClick(i, j)"
                      [ngClass]="{
                        'phase-card-selected': gameService.getPhaseValue(i, j)
                      }"
                    >
                      phase
                      <span class="phase-num">{{
                        gameService.convertToNumeral(
                          gameService.calculatePhase(i)[j]
                        )
                      }}</span>
                    </button>
                  </td>
                  <td>
                    <input
                      type="number"
                      step="5"
                      class="form-control"
                      formControlName="points"
                      style="min-width: 65px"
                    />
                  </td>
                </tr>
              </table>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-outline-secondary"
    (click)="gameService.addRound()"
    [disabled]="!gameService.rounds.valid"
  >
    Score another round
  </button>
  <button (click)="gameService.reset(); this.router.navigate(['editPlayers'])">
    reset game
  </button>
</form>
