<script
  src="https://kit.fontawesome.com/00cfb3672c.js"
  crossorigin="anonymous"
></script>
<main class="d-flex flex-column vh-100">
  <div class="container flex-fill" style="max-width: 40rem">
    <router-outlet></router-outlet>
  </div>
  <nav class="mt-2 bg-light flex-grow-0 flex-shrink-0">
    <div class="nav-items-cont justify-content-between mx-auto p-2">
      <a
        class="nav-item nav-link text-center p-1"
        [routerLink]="['editPlayers']"
        routerLinkActive="active"
      >
        <h2 class="m-0">
          <fa-icon [icon]="faUsers"></fa-icon>
        </h2>
        <small>Enter Players</small>
      </a>
      <a
        class="nav-item nav-link text-center p-1"
        [ngClass]="{ disabled: !gameService.players.valid }"
        [routerLink]="['score']"
        routerLinkActive="active"
      >
        <h2 class="m-0">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </h2>
        <small>Score Rounds</small>
      </a>
      <a
        class="nav-item nav-link text-center p-1"
        [ngClass]="{ disabled: !gameService.players.valid }"
        [routerLink]="['viewTotals']"
        routerLinkActive="active"
      >
        <h2 class="m-0">
          <fa-icon [icon]="faMedal"></fa-icon>
        </h2>
        <small>View Totals</small>
      </a>
    </div>
  </nav>
</main>
